# -Indexing

In [56]:
# make a string
a = "talha akbar"
a

'talha akbar'

In [57]:
a[7]

'k'

In [58]:
a[1]

'a'

In [59]:
a[0:5]

'talha'

In [60]:
# Length of index
len(a)

11

In [61]:
a[10]

'r'

In [62]:
a[-4]

'k'

In [63]:
a[-5:11]

'akbar'

# string methods

In [64]:
name ="Talha Akbar"

In [65]:
name

'Talha Akbar'

In [66]:
name.capitalize()

'Talha akbar'

In [67]:
name.upper()

'TALHA AKBAR'

In [68]:
name.lower()

'talha akbar'

In [69]:
name.replace("a","q")

'Tqlhq Akbqr'

In [70]:
name.count("a")

3

In [71]:
name.find("a")

1

# Basic data structure in python
### 1-Tuple
### 2-List
### 3-Dictionaries
### 4-Set

## 1- Tuple
#### - ordered collection of elements
#### - enclosed in() round braces/paranthesis
#### - Different kind of elements can be stored
#### - once elements are stored you can not change them(unmutatable)

In [72]:
tup1 =(1,"python",True,1.5)
tup1

(1, 'python', True, 1.5)

In [73]:
# types of a tuple
type(tup1)

tuple

#### - indexing in tuple

In [74]:
tup1[1]

'python'

In [75]:
tup1[2]

True

In [76]:
tup1[0:3]

(1, 'python', True)

In [77]:
len(tup1)

4

In [82]:
tup2=(3,"talha",7,False)
tup2

(3, 'talha', 7, False)

In [83]:
tup1 + tup2

(1, 'python', True, 1.5, 3, 'talha', 7, False)

In [84]:
tup1*3 + tup2

(1,
 'python',
 True,
 1.5,
 1,
 'python',
 True,
 1.5,
 1,
 'python',
 True,
 1.5,
 3,
 'talha',
 7,
 False)

## 2-List
#### - ordered collection of element
#### - enclosed in [] Square braces/bracket
#### - Mutateable,you can change the values

In [86]:
list_1=[23,"talha akbar",False]
list_1

[23, 'talha akbar', False]

In [88]:
type(list_1)

list

In [89]:
list_1[2]

False

In [90]:
list_2=[45,"king",2.3,True]
list_2

[45, 'king', 2.3, True]

In [91]:
list_1 + list_2

[23, 'talha akbar', False, 45, 'king', 2.3, True]

In [94]:
list_1.reverse()
list_1

[False, 'talha akbar', 23]

In [95]:
list_1.append("kamal")
list_1

[False, 'talha akbar', 23, 'kamal']

In [96]:
list_3=[23,43,54,5642,232,2,3,34,2,3321,121,]

In [98]:
list_3.sort()
list_3

[2, 2, 3, 23, 34, 43, 54, 121, 232, 3321, 5642]

## 3- Dicitionaries 
- An unordered collection of elements
- Key and Value
- Curly Braces or Brackets{}
- Mutateable/Change the values

In [99]:
subject_marks={"Maths":74,"IOT":90,"Database":65,"programming":88,"AI":54}
subject_marks

{'Maths': 74, 'IOT': 90, 'Database': 65, 'programming': 88, 'AI': 54}

In [100]:
type(subject_marks)

dict

In [101]:
key1=subject_marks.keys()
key1

dict_keys(['Maths', 'IOT', 'Database', 'programming', 'AI'])

In [102]:
value1=subject_marks.values()
value1

dict_values([74, 90, 65, 88, 54])

In [103]:
subject_marks["Machine Learning"]=78
subject_marks

{'Maths': 74,
 'IOT': 90,
 'Database': 65,
 'programming': 88,
 'AI': 54,
 'Machine Learning': 78}

In [104]:
subject_marks["Machine Learning"]=88
subject_marks

{'Maths': 74,
 'IOT': 90,
 'Database': 65,
 'programming': 88,
 'AI': 54,
 'Machine Learning': 88}

In [105]:
subject_marks_2={"ITC":45,"calculas":67,"PP":60}
subject_marks_2

{'ITC': 45, 'calculas': 67, 'PP': 60}

In [107]:
#concatinate
subject_marks.update(subject_marks_2)
subject_marks

{'Maths': 74,
 'IOT': 90,
 'Database': 65,
 'programming': 88,
 'AI': 54,
 'Machine Learning': 88,
 'ITC': 45,
 'calculas': 67,
 'PP': 60}

## 4- Set
- unordered and unindexed
- curly braces are used {}
- no duplicates allowed

In [108]:
SET_1 = {1,23,24.4,"talha","khan",False}
SET_1

{1, 23, 24.4, False, 'khan', 'talha'}

In [114]:
SET_1.add("kamal")
SET_1

{1, 23, 24.4, False, 'kamal', 'talha'}

In [115]:
SET_1.remove("kamal")

In [116]:
SET_1

{1, 23, 24.4, False, 'talha'}