# Operator

### pemdas
### Paraenthesis Exponenet Multiply Divide Addition Substraction
### Left to Right For M D & A S

In [ ]:
print("Talha Akbar ")
print(3+1)#Addition 
print(4-1)#Substraction
print(7/2)# Divide
print(2*4)#Multiply
print(13%4)#reminder
print(3**2)#power
print(7//2)#divide with int answer 
print(3**2/2*3/3+6-4)

Talha Akbar
4
3
3.5
8
1
9
3
6.5

# Strings

In [ ]:
print("Talha Akbar ")
print('Single Quotes')
print("Double Quotes")
print(''' Tripple Quotes ''')

print("What's up")

Talha Akbar
Single Quotes
Double Quotes
 Tripple Quotes
What's up

# varibales

### varibales: object containing specific values

### type of variables
## Rule to assign a variable
### 1- The varibale should contain letter, number or underscores.
### 2- Do not start with number .
### 3- Space are not allowed.
### 4- Do not use keywords used in function (break , mean ,median,type etc). 
### 5- Short and descriptive 
### 6- Case senstivity (Lowercase, uppercase leater lower case letters should be used ).

In [ ]:
x=7
print(x)
y="i m talha akbar"
print(y)

7
i m talha akbar

In [ ]:
type(x)
print(type(x))

<class 'int'>

In [ ]:
names = "talha akbar"
print(names)

talha akbar

# Input Varibale

In [7]:
name =input("Enter your name ?")

greetings ="hello!"
print(greetings,name)

# Conditional_logics

### Logical operator are either "true or false "
### equal to                ==
### not equal to            !=
### less then               <
### greater then            >
### greater then and equal to >=
### less then and equal to  <=

In [ ]:

print(2==2)
print (3!=3)
print(4<5)
print(4>5)
print(5<=3)
print(5>=4)

True
False
True
False
False
True

In [ ]:
age_at_school = 6
your_age=int(input("how old are you?"))
print(age_at_school==your_age)

# Type Conversion

In [ ]:
x=123 #integer
y=10.3 #float
z= "hello" #string

### implicit type conversion

In [ ]:
y= x+y #float
print(type(y))

### explicit type conversion

In [ ]:
gpa=float(input("what is your GPA"))
print("your GPA is",gpa)

# if else elif

In [ ]:
your_age=int(input("enter your age"))
school_age=5
if your_age == school_age:
    print("you can join the school")
elif your_age < school_age:
    print("plz takecare of your baby")
else:
    print("you cannot go to school")

# Function

### defining a function

### 1

In [ ]:
def print_tk():
    print("i m learning pyhton_1")
    print("i m learning pyhton_2")
    print("i m learning pyhton_3")
print_tk()

### 2

In [ ]:
def print_tk():
    text ="i m learning python"
    print(text)
print_tk()

### 3

In [ ]:
def print_tk(text):
    print(text)
print_tk("i m learning python")

In [ ]:
def School_Cal(your_age):
    school_age= 5
    if your_age == school_age:
        print("you can join the school")
    elif your_age < school_age:
        print("plz takecare of your baby")
    else:
        print("you cannot go to school")
School_Cal(3)

In [ ]:
def Dollar_to_pkr(DL):
    dollar=DL*224
    return dollar
dollar_to_rs = Dollar_to_pkr(100)
print(dollar_to_rs)

# Loops

### while loop

In [ ]:
x=0
while (x<5):
    print(x)
    x=x+1

### for loop

In [ ]:
for x in range(2,13):
    print(x)


### array

In [ ]:
days=["mon","tue","wed","thu","fri","sat","sun"]

for d in days:
    if (d=="wed"): continue
    if (d=="sat"): break
    print(d)

# Import Libaries

In [ ]:
import math
print ("the values of pi is",math.pi)

import statistics
x=[282,32,444,55,66]
print(statistics.mean(x))